attrs==24.2.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
numpy==2.0.0
opencv-python==4.10.0.84
Pillow==10.1.0
pyserial==3.5
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
qimage2ndarray==1.10.0
referencing==0.35.1
rpds-py==0.20.0
shiboken6==6.7.2
